
<span class="inline_table"><%=image_tag ("noprofile.jpg")%></span>
<span class="inline_tables"><span text-decoration:underline;><%=@comment.user.username%></span>&nbsp;said<br/>
<%=@comment.body%></span><br/>
<div class="clear"></div>
<div class="time"><%=time_ago_in_words(@comment.created_at)%>&nbsp;ago</div>