<div class="home-background">
<!--
<div class="logo"><%=image_tag("FFL-SPOT500.png")%></div>-->
<div class="selling-line">SAVE THOUSANDS ANNUALLY ON YOUR DAILY PURCHASES THROUGH INFORMATION SHARING</div>

<div class="root-login">
<h3><b>DISCOVER GREAT PRICES $ VARIETY OF ITEMS ON CLEARANCE IN YOUR CITY SPOTTED BY YOUR LOCAL COMMUNITY</b></h3>
<div class="prompt">Select your city before proceeding and  share with us what great deal you spotted</div>
<div class="root-form">
<%= form_for :city, :url=>{:action =>"next"} do |f| %>
<%= f.collection_select(:city_id, City.all, :id, :name ,:prompt=>"Select your City") %>
<br/>
<br/>
<%=f.submit "continue",:class=>"continue-button" %>
<%end%>
</div>

</div>

</div>