<span class="top-border">s</span>
<div class="root-login">
<h3>Please select your city before proceeding</h3>
<table>
<tr>
<td>
<ul>
<li><b>Discover local deals spotted by your local community</b></li>
<li><b>Share with us the deal you spotted in your local area</b></li>
</ul>
</td>
<td>
<div class="v-line"></div>
</td>
<td>
<div class="root-form">
<%= form_for :city,:size=>"40", :url=>{:action =>"next"} do |f| %>
<%= f.collection_select(:city_id, City.all, :id, :name ,:prompt=>"Select your city") %>
<br/>
<br/>
<%=f.submit "continue" %>
<%end%>
</div>
</td>
</tr>
</table>
</div>