

<div class="header-bar">Feedback</div>
<h3 style="margin-left:90px;">Leave us feedback in response to the following questions</h3>
<ul style="margin-left:90px;">
<li>Any technical issues?</li>
<li>Any Suggestions or Advice? (What to improve or feature would you like to see on the site?)</li>
<li> Any kind of fustration or hassle you experienced?</li>

</ul>
<div style="margin-left:100px;">
<%= form_for :feedback ,:url=>{:action =>"create"} do |f|%>
<label><b>Your Email:</b></label><br>
<%= f.text_area :email,:rows=>"1" %>(<b>optional</b>)<br/>
<label><b>Feedback:</b></label><br>
<%= f.text_area :body,:rows=>"4",:cols=>"60" %><br/>
<%=f.submit "Submit"%>
<%end%>
</div>

