<div class="container">
<div class="message">Spotdeals is a new network and currently available only in three cities.We apologize for any incovenience we may have caused.Please report to spotsaving@gmail.com </div>

<h3>United States</h3>
<%@cities.each do |city| %>
<a href="/deal/city?city_id=<%=city.id%>"><%=city.name%></a><br/>
<%end%>
</div>
