<div class="container">
<div class="message">Spotsaving is a new network and is currently still undergoing through develepment and testing.We apologize for any difficulties you may encounter. Please report any issues with this site to info@spotsaving.com we will respond quickly </div>
<h3>How does spotsaving work?</h3>
<p>It is a public platform for local communities to share deals/great prices they spot in their city,
as well as discover items on clearance/sale from their local stores, </p>
<h3>Why share a deal you spot?</h3>
<p>Active sharing from you will inspire others in your community to share deals that they see at their local stores therefore building a largest network of deals and discovery for your own city. For each deal you list, people in your community will be able to vote for it, whether they think it is a great deal(vote thumbs up) or not(vote thumbs down). If they vote up you will earn points, if they vote down you will lose points</p>
<h3>Why vote thumbs up?</h3>
<p>Vote thumbs up for deals that you really think are great deals and ones that have enough details describing the particular product and terms of that particular deal. Deals with a high number of votes will appear on the front page</p>

<h3>Why vote thumbs down?</h3>
<p>You can vote thumbs down if the deal contains the following<br/>
<b>Note:</b><br/>Before voting, it is important to let the author of the post know about the issue by posting a reply comment first 
<ul>
<li>It is not really a great deal (price mentioned is a regular price)</li> 
<li>There is not enough information on the deal e.g no proper explaination how that deal works  </li>
<li>There is alot of typos on the deal presentation,to the point that it could mislead people</li>
<li>It does not include item brand, size or the location mentioned is wrong</li>
</ul>
</p>
<h3>What do I need points for?</h3>
<p>This feature is currently unavailable, but in the future the points earned will be converted into credits. You will be able to redeem these credits in form of a gift card or as a discount at your local stores</p>

<h3>Why flagg?</h3>
<p>You can flag a deal if the deal contains the following<br/>
<ul>
<li>The deal is old and no longer valid</li>
<li>The deal is false and does not exists</li>
<li>The deal is only available online</li>
<li>The deal requires a coupon </li>
</p>

<h3>What does an official deal mean?</h3>
<p>Deals that are posted by a merchant or retailer, will be marked as <span class="official">Official</span></br>
 <b>Note:</b> If the deal was not marked as an official deal, it does not mean that it is not valid, but just indicates that the deal was posted by a regular user.
</p>
</div>