<div class="container">
<div class="message">Spotdeals is a new network and currently still undergoing through develepment and testing.We apologize for any difficulties you may encounter.Please report to spotdeals@gmail.com </div>
<h3>How spotdeals work?</h3>
<p>It is a public platform for local community to share share deals/great prices they spot in their city
as well as discover items on clearance/sale from their local stores </p>
<h3>Why sharing a deal you spot?</h3>
<p>The more deals you share will inspires your community to share even more deals they see from the local stores and hence building a largest network of deals discovery for your city.For each deal you list your community will be able to vote for it ,whether they think it is a great deal(vote up) or not(down).If they vote up you will earn points,and down you will loose points</p>
<h3>Why vote up?</h3>
<p>Vote up for items that you think are indeed great deals and have enough details describing the particular product and terms of the deal.Deals with high number of votes will appear on front page</p>

<h3>Why vote down?</h3>
<p>You can vote down if the deal contains the following<br/>
<b>Note:</b><br/>Before voting, it is important to let the author know about the issue through commenting first 
<ul>
<li>It is not really a great deal(price mentioned is a regular price)</li> 
<li>There is no enough information on the deal e.g no proper explaination how that deal works  </li>
<li>There is alot of typos on the deal presentation,to the point that could mislead people</li>
<li>Does not include item brand ,size or the location mentioned is wrong</li>
</ul>
</p>
<h3>What do i need points for?</h3>
<p>This feature is currently unavailable but in the future the points earned will be converted into credits.You will be able to redeem these credits in form of  gift card or as a discount to your local stores</p>

<h3>Why flagg?</h3>
<p>You can flag the deal if the deal contains the following<br/>
<ul>
<li>The deal is old and no longer valid</li>
<li>The deal is false and does not exists</li>
<li>The deal is only available online</li>
<li>The deal requires a coupon </li>
</p>

<h3>What does official mean?</h3>
<p>Deals that were posted by a merchant/retailer,will be marked as <span class="official">Official</span></br>
 <b>Note:</b> If the deal was not marked official,it does not mean the deal is not valid ,it just indicate that the deal was posted by a regular user.
</p>
</div>