<%@deals.each do |deal|%>
<%=deal.item_name%>
<% deal.stores.each do |store| %>
    <%= store.store_name %>
    <%=store.address%>
     <a href="/comment/index?deal_id=<%=deal.id%>">view</a>

  <%end%>  
<%end%>