/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html{margin:0px;}
html body{
margin:0;
font-size:14px;
background:#388DDC;
background:-moz-linear-gradient(top, #388DDC, #AAC3DA 70%);
background: -webkit-gradient(linear, 0 0, 0 80%,from(#388DDC),to(#C3CAE5));
/*min-width:1020px;*/
background-repeat:repeat-y;
min-height:1000px;
}

.root-login
{margin-left: auto;
margin-right: auto;
margin-top:200px;
-moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 border:solid black 5px;
 display:block;
 width:600px;
 height:200px;
 background:#DBE1EB;
	
}
.root-login h3{
background:black;
color:white;
margin-top:0px;
padding:6px;
-moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;
}
.root-form{float:left;padding:10px;}
.v-line{border-left:solid #BDBFC1 1px;height:150px;
float:left;margin-left: 430px;}
.header-background{	
background:#000514;
height:50px;
margin:0px;
width:100%;
border-bottom:solid #59E633 3px;
}
.head{	
color:white;	
font-size:15px;	
width:90%;
margin-left:3%;	
}
.search-form{
float:left;
margin-top:10px;}
ul.categories{
list-style-type:none;
}
.category-container{
margin-top:20px;	
-moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 border:solid #B6BBC3 1px;
 display:block;
 width:195px;
 background:white;
}
ul.categories li a{text-decoration:none;font-weight:bold;}
ul.categories li a:hover{background:#C4D8E4;display:block;}
.category-container h3{
margin-top:0px;	
padding:4px;
background:#C0C2C8;
}
.category{	
float:left;
width:20%;
margin-left:3%;
}
ul.menu {
margin-top:0px;
height: 40px;  
border-left: 1px solid rgba(0,0,0,0.3);  
border-right: 1px solid rgba(255,255,255,0.3);  
float:left; 
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
}

ul.menu li {
float:left;
list-style-type:none;
height: 40px;  
text-align: center;  
background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(#000514), to(#12234A) );background: -moz-radial-gradient(center 20px 45deg, circle cover, #000514 60%, #12234A 100%); }

ul.menu li a{
font-size:14px;	
color:white;
text-decoration:none;
display: block;  
padding: 0 20px;  
border-left: 1px solid rgba(255,255,255,0.1);  
border-right: 1px solid rgba(0,0,0,0.1);  
text-align: center;  
line-height: 40px; 
border-radius:3px 3px 3px 3px; 
-moz-border-radius:3px 3px 3px 3px;
background : -webkit-gradient(linear, left top, left bottombottom, from(rgb(168,168,168)), to(rgb(69,69,69)));  
}
/*ul.menu li a:hover{background:black; */
.clear {clear:both;}
.container{
margin-top:20px;	
float:left;	
width:73%;
margin-right:3%;
background:#fff;
-moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 border:solid #388DDC 2px;
 min-height:768px;
}
.user-status{float:left;}
.city-title{
float:left;
font-size:18px;
font-weight:bold;
margin-top:10px;}
.image img{
width:150;
height:100px;
border:solid #fff 3px;
}
.view-image img{
width:250;
height:200px;
border:solid #fff 3px;
}
.deal {
margin:3px;	
padding:5px;	
background:#F0F2F5;	
float:left;
-moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 border-left:solid #B6BBC3 1px;
 border-right:solid #B6BBC3 1px;
 border-top:solid #B6BBC3 1px;
 border-bottom:solid #B6BBC3 1px;
 width:220px;
 -moz-box-shadow: 0px 4px 1px #F0F2F5;
-webkit-box-shadow: 0px 4px 1px #F0F2F5;
box-shadow: 0px 4px 1px #F0F2F5;
}
.view-deal-border{
background:#F0F2F5;	
-moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 border-left:solid #B6BBC3 1px;
 border-right:solid #B6BBC3 1px;
 border-top:solid #B6BBC3 1px;
 border-bottom:solid #B6BBC3 1px;
 width:500px;
 -moz-box-shadow: 4px 4px 1px #F0F2F5;
-webkit-box-shadow: 4px 4px 1px #F0F2F5;
box-shadow: 4px 4px 1px #F0F2F5;	
}
.time{
color:#808080;
font-size:11px;
}
.view-button{
text-decoration:none;	
 padding:2px 12px 2px 12px;
 color:white;
 background:#2EB30F;
 border:none;
 font-weight:bold;
-moz-border-radius:2px;
-webkit-border-radius:2px;
  border-radius:2px;
/* background: -webkit-gradient(linear, 0 0, 0 50%, from(#2EB30F) to(10%,#D1D1D2)); */
 background:-moz-linear-gradient(top, #2EB30F, #D1D1D2 100%);	
}
.list-button{
 padding:4px 12px 4px 12px;
 color:white;
 background:#2EB30F;
 border:none;
 font-weight:bold;
-moz-border-radius:2px;
-webkit-border-radius:2px;
 border-radius:2px;
}
.price{
color:#E9711C;	
position:fixed;	
font-size:18px;
font-weight:bold;
margin-bottom:10%;
}
.votes{
position:relative;	
font-size:18px;
margin-bottom:40px;	
}
#comments_count{
margin-top:15px;	
padding:4px;
width:500px;
background:#E8DCA1;	
border:solid #C0750C 1px;
}
#comments{
padding:4px;
width:500px;
background:#C7DEF0;	
border:solid #C7DEF0 1px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
 border-radius:2px;
 margin-top:5px;
}
